body {
  text-align: center;
  font-family: sans-serif;
  color: #232;
  background-color: #e5cffa;
}

#words {
  /*color: #dde*/
}



nav ul li {
  list-style: none;
  display: inline-block;
  padding: 1em 1em;
  background-color: #c2eded;
  cursor: pointer;
}

ul {
  padding-left: 0px;
}


.chooseDeck1, .chooseDeck2, .chooseDeck3 {
  background-color: #c2eded;
  width: 150px;
}

.card {
  margin: 0 auto;
  border: 1px solid #d8edc2;
  height: 400px;
  width: 600px;
  background-color: #e5facf;
}

.flashCard {
  font-size: 10em;
  font-family: serif;
}

.cardBottom {
  font-size: 2em;
  cursor: pointer;
  background-color: #bcbbbb
}

h2 {
  font-size: 2em;
}

.nextButton, .backButton {
  width: 100px;
}

.nextButton {
  background-color: #d8edc2;
}

.backButton {
  background-color: #edc2c2;
}
