body {
  text-align: center;
  font-family: sans-serif;
  color: #232;
  background-color: #800;
}

#card {

}
#words {
  text-align: center;
  color: #dde
};

.flash_card {
  font-size: 8em;
}

.card {
  margin: 0 auto;
  border: 1px solid #00f;
  height: 400px;
  width: 600px;
  background-color: #ccc;
}

.flashCard {
  font-size: 10em;
}

.cardBottom {
  font-size: 2em;
  background-color: #bcbbbb
}
h2 {
  font-size: 2em;
}
